@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,200,300);

body{
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 20px;
	line-height: 1.5;
	color:#585858;
	font-weight: 300;
	margin-left: 50px;
}
form {
	text-align: center;
  margin-left: 90px;
  margin-bottom: 20px;
}
label {
  margin-right: 5px;
  margin-left: 5px;
}
input,
textarea {
  // border:none;
  width: 10%;
  padding: 10px;
  // margin-bottom: 15px;
  margin-right: 5px;
  border-radius: 5px;
}
input[type="button"] {
	background-color: #585858;
	color: #fff;
	cursor: pointer;
  margin-left: 10px;
}
select {
  width: 10%;
  margin-right: 10px;
}
option {
  padding: 5px;
  color: green;
}
select, option {
  -webkit-appearance: none;
}
#root { max-width: 100%;
      }
#spacer { width: 500 px}

div {
  width: 500px;
  display: block;
  text-align: center;
  overflow-x: hidden;
  margin-right: 70px;
  margin top: 10px;
  margin-bottom: 10px;
  margin-left: 50px;
}

#chart1 {
  float: left;
  /* width: 500px;
  display: block;
  overflow-x: hidden; */
}
#chart2 {
   float: right;
   /* max-width: 500px;
   display: inline-block;
   overflow-y: hidden; */
}
#chart3 {
  float: left;
  /* max-width: 500px;
  display: inline-block;
  overflow-x: hidden; */
}
#chart4 {
  float: right;
  /* max-width: 500px;
  display: inline-block;
  overflow-x: hidden; */
}
#chart5 {
  float: left;
  /* max-width: 500px;
  display: inline-block;
  overflow-x: hidden; */
}
#chart6 {
  float: right;
  /* max-width: 500px;
  display: inline-block;
  overflow-x: hidden; */
}


#first-chart {
  float: left;
  margin-left: 50px;
  margin-right: 25px;
  margin-bottom: 25px;
  margin-top: 25px;
}

#second-chart {
  float: right;
  margin-left: 25px;
  margin-right: 50px;
  margin-bottom: 25px;
  margin-top: 25px;
}

#third-chart {
  float: left;
  margin-left: 50px;
  margin-right: 25px;
  margin-bottom: 25px;
  margin-top: 25px;
}
