body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  color:red;
}
#first-chart {
  float: left;
  margin-left: 50px;
  margin-right: 25px;
  margin-bottom: 25px;
  margin-top: 25px;
}

#second-chart {
  float: right;
  margin-left: 25px;
  margin-right: 50px;
  margin-bottom: 25px;
  margin-top: 25px;
} 

#third-chart {
  float: left;
  margin-left: 50px;
  margin-right: 25px;
  margin-bottom: 25px;
  margin-top: 25px;
} 


#chart-container {
  float: left;
}
